<div class="card shadow-effect">
  <div class="card-body">
    <div class="text-center mt-3 mb-5">
      <h3>SUBSCRIPTION FORM</h3>
      <p class="m-auto subs-text">lorema adjasjdasdj sadlkjadskljqwe weqkljqwekjwq ekasdjslskda</p>


      <div class="alert aler-info mt-3" style="background-color: rgb(19, 255, 106);"  *ngIf="isSubscribed" >
        Thank you for subscribing to the newsletter service, Stay tuned !!
      </div>

      <form *ngIf="!isSubscribed" (ngSubmit)="onSubmit(subForm.value)"  #subForm = ngForm class="form-inline mb-5 mt-5">
        <div class="form-group col-md-5">
          <input required type="text" class="form-control shadow-effect" placeholder="Your Name" name="name" ngModel >
        </div>
        <div class="form-group col-md-5">
          <input required name="email" ngModel type="email" class="form-control shadow-effect" placeholder="Email Address">
        </div>

        <div class="col-md-2">
          <button [disabled]="subForm.invalid" class="btn btn-info btn-block btn-theme">SUBSCRIBE</button>
        </div>

      </form>
    </div>
  </div>
</div>
