<div class="card shadow-effect">
  <img src="https://img.freepik.com/free-photo/fresh-autumn-leaves-reveal-vibrant-organic-pattern-generated-by-ai_188544-15037.jpg" alt="post-image" class="card-img-top">
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ml-3">Featured</small>
    <small class="bg-light text-success text-center ml-3">Views - 100,256</small>

    <h5 class="mt-1">Beautiful leaf looking blue in color</h5>
    <p>akdljldksaj asdlkjlskadj asdmsamdas deqwuiiwequ weqkjwqekjlwkqe askjsadkjlksadj ads</p>

    <small class="bg-light text-warning text-center ml-3">LAST UPDATED - SEP 20, 2021</small>
  </div>
</div>
